body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  margin: 10px 0;
  font-size: 18px;
  opacity: 0.8;
}

.apps {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.apps a {
  text-decoration: none;
  color: white;
  background: #111;
  padding: 15px;
  border-radius: 12px;
  font-size: 18px;
  border: 1px solid #333;
  transition: 0.3s;
}

.apps a:hover {
  background: #e63946;
  transform: scale(1.03);
  }
  
