*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #0f0f0f;
  color: white;
  text-align: center;
}

header{
  padding: 20px;
  background: black;
}

header h1{
  color: #ff3c00;
}

.hero{
  padding: 30px;
}

.hero img{
  width: 220px;
  border-radius: 50%;
  border: 4px solid #ff3c00;
  margin-bottom: 15px;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
}

.card{
  background: #1c1c1c;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #ff3c00;
}

footer{
  padding: 15px;
  background: black;
  margin-top: 20px;
  font-size: 14px;
  }
  
