* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}

/* Header */
header {
  height: 60px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
}

header h1 {
  font-size: 18px;
}

/* Menu button */
.menu-btn {
  font-size: 28px;
  cursor: pointer;
}

/* Menu */
nav {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: #000;
  display: none;
  flex-direction: column;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  border-top: 1px solid #333;
}

/* Images */
.photos img {
  width: 100%;
  display: block;
  }
